html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.slider-container {
  width: 1100px;
  margin: 0 auto;
}

.slider-row {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  left: 0;
  transition: all ease 1s;
}

.slider {
  width: 500px;
  margin: 0 auto;
  border: 3px solid #555555;
  overflow: hidden;
}
